<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body style="background: url('/images/simple_crm_background.png') no-repeat center center fixed; background-size: cover;">

<header class="header">
    <div class="header-inner">
        <nav class="nav">
            <a th:href="@{/login}" class="button login">Login</a>
            <a th:href="@{/register}" class="button register">Register</a>
        </nav>
    </div>
</header>
<main>
    <div class="text-container">
        <h2>Welcome to Simple CRM</h2>
        <p>There are many CRM systems available on the market. Some complex and expensive, some useful and cheap, some simple and free.</p>
        <p>However, Simple CRM is the <b>first and only</b> CRM system that caters specifically to your needs as a base metals trader.</p>
        <p>Manage your clients, contacts, oversee your contract implementation, easily generate reports, be your own LME desk and never lose sight of your hedging, this and so much more.</p>
        <p>It is a tight niche but we fill it perfectly. You will never wish for another CRM. Easy and completely free.</p>
        <p>Be our guest.</p>
    </div>
</main>
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body></html>
