
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body style="background: url('/images/simple_crm_background.png') no-repeat center center fixed; background-size: cover;">
    <header class="header">
        <div class="header-inner">
            <nav class="nav">
                <a th:href="@{/login}" class="button login">Login</a>
                <a th:href="@{/register}" class="button register">Register</a>
                <a th:href="@{/}" class="button home">&#9875</a>
            </nav>
        </div>
    </header>

    <div class="login-container">
        <h2>Login</h2>
        <form class="form" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">

            <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
            <p></p>

            <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
            <p class="alert-warning" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <p></p>
            <button type="submit">Log In</button>
        </form>
        <div class="form-link">
            No account? Register <a th:href="@{/register}">Here!</a>
        </div>
    </div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body></html>


