<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body style="background: url('/images/simple_crm_background.png') no-repeat center center fixed; background-size: cover;">
    <header class="header">
        <div class="header-inner">
            <nav class="nav">
                <a th:href="@{/login}" class="button login">Login</a>
                <a th:href="@{/register}" class="button register">Register</a>
            </nav>
        </div>
    </header>

    <div class="form-container">
        <h2>Register Here</h2>
        <form class="form" th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
            <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
            <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <p class="alert-warning" th:text="${usernameAlreadyExistMessage}"></p>

            <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
            <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            <p></p>
            <button>Register</button>
          </form>
        <div class="form-link">
            Already have an account? <a th:href="@{/login}">Login!</a>
        </div>
    </div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body></html>
